@media screen and (max-width: 850px) {

    /******************* menu stuff **********************/

    .vert-center {
        width: 80%;
    }

    .big {
        font-size: 2em;
    }

    #say-hi, #more-on-me {
        /*margin-left: 15px;*/
    }

    .bio {
        width: 100%;
        font-size: 1.5em;
    }

    .resume {
        width: 100%;
    }

    .portfolio article {
        height: 270px;
    }
    
    #other-work {
        width: 100%;
        height: 210px;
    }

    #overlay-text-other {
        left: 20%;
    }

    .overlay-title {
        margin-top: .2em;
    }

    
    /*project pages*/
    .writeup {
        margin-left: 10%;
        margin-right: 10%;
    }

    h1 {
        font-size: 3em;
        /*line-height: 1.1em;*/
    }

    /*text sections become one column*/
    .left-title {
        display: block;
        width: 100%;
        line-height: 1.4em;
        float: none;
    }

    .left-title h2 {
        padding-top: 0;
        text-align: left;
    }

    .right-content {
        display: block;
        width: 100%;
        margin: 0;
    }

    hr {
        margin: 3em 0;
    }

    .big-image {
        width: 100%;
        margin-left: 0;
    }

    .right-text-column {
        width: 45%;
        display: inline-block;
        margin-left: 8%;
        vertical-align: top;
        margin-bottom: 1em;
    }
    
    /*sketchbook*/
    .column-1, .column-2 {
        width: 100%;
        margin: 0;
    }
}