@font-face {
    font-family: Title;
    src: url("../fonts/NoeDisplay-Bold.otf");
    font-style: normal;
}

@font-face {
    font-family: Small Title;
    src: url("../fonts/NoeDisplay-Bold.otf");
}

@font-face {
    font-family: Quote;
    src: url("../fonts/NoeDisplay-RegularItalic.otf");
}

@font-face {
    font-family: Body;
    src: url("../fonts/Graphik-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Body;
    src: url("../fonts/Graphik-RegularItalic.ttf");
    font-style: italic;
}

@font-face {
    font-family: Body;
    src: url("../fonts/Graphik-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Body;
    src: url("../fonts/Graphik-Semibold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: Body;
    src: url("../fonts/Graphik-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
}
