@font-face {
    font-family: Title;
    src: url("../fonts/Canela-Medium.otf");
    font-style: normal;
}

@font-face {
    font-family: Small Title;
    src: url("../fonts/Montserrat-SemiBold.otf");
    font-style: italic;
}

@font-face {
    font-family: Body;
    src: url("../fonts/Canela-Light.otf");
    font-weight: normal;
}

@font-face {
    font-family: Body;
    src: url("../fonts/Canela-LightItalic.otf");
    font-style: italic;
}

@font-face {
    font-family: Body;
    src: url("../fonts/Canela-Medium.otf");
    font-weight: 500;
}
