@font-face {
    font-family: GT America;
    src: url("fonts/GT-America-Regular.otf");
    font-weight: normal;
}

@font-face {
    font-family: GT America;
    src: url("fonts/gt-america-standard-medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: GT America;
    src: url("fonts/GT-America-Bold.otf");
    font-weight: 600;
}

@font-face {
    font-family: Gotham Medium;
    src: url("fonts/GOTHAM-MEDIUM.TTF");
}