#index-text {
    margin: 25% 0 27% 0;
}

.big {
    font-size: 3em;
    line-height: 1.5em;
    padding-bottom: .75em;
}

.index-menu {
    font-family: "Small Title", sans-serif;
    line-height: 1.6em;
}

.index-menu a {
    margin: 0 25px;
    position: relative;
    border-bottom: none;
}

#index-link-about {
    margin-left: 0;
}

/*portfolio grid items*/
.portfolio {
    margin-bottom: 3em;
}

.accactivity {
    /*background-image: url();*/
}

.polly {
    background-image: url(../images/home/polly-thumbnail2.png);
}

.ctat {
    background-image: url(../images/home/ctat-thumbnail.png);
}

.facesofdesign {
    background-image: url(../images/home/faces_of_design-thumbnail.jpg);
}

.goodcook {
    background-image: url(../images/home/goodcook-thumbnail.png);
}

.ptp {
    background-image: url(../images/home/ptp-thumbnail.jpg);
}

.exploringsqhill {
    background-image: url(../images/home/exploring_sq_hill-thumbnail.png);
}

.responsiverealestate {
    background-image: url(../images/home/responsive-thumbnail.png);
}

.linkedin {
    background-image: url(../images/home/linkedin-thumbnail.jpg);
}

.sketchbook {
    background-image: url(../images/home/sketchbook.jpg);
}


.portfolio article {
    background-color: #f0f0fa;
    height: 340px; /*must set height*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Resize the background image to cover the entire container */
    width: 100%;
    margin-left: 0;
}

.container {
    height: 100%;
}

/*overlay*/
.overlay {
    position: absolute;
    top, bottom, left, right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease;
    background-color: white;
}

.container:hover .overlay {
    opacity: 1;
}

.overlay-text {
    text-align: left;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 20%;
    margin-left: 30%;
    transform: translate(-50%, -50%);
}

.overlay-title {
    color: #777;
    margin-bottom: .125em;
}

.overlay-subtitle {
    font-family: "Small Title", "Arial", sans-serif;
    line-height: 1.4em;
    color: #888;
}