/*mobile*/

@media screen and (max-width: 414px) {
    /*body {
        margin: 5% 0;
    }*/

    .main-right {
        margin-left: 5%;
    }
    .body-content {
        width: 100%;
    }

    /******************************************* menu stuff *******************************************/

    .sidebar-menu-arrow {
        display: none;
    }

    .submenu-item {
        display: none;
    }

    .menu-wrap {
        width: 200px;
    }

    /************************************ content & type stuff **************************************/
    h1 {
        font-size: 3em;
        font-weight: 400;
        line-height: 1.2em;
        margin-bottom: .8em;
    }

    .left-text-column, .right-text-column {
        margin-bottom: 1.2em;
    }

    iframe {
        width: 100%;
        height: 213px;
    }

    hr {
        margin: 1.2em 0;
    }

    .bullet-points li {
        margin-left: 5%;
    }


    /************************************ image stuff ************************************/

    .h3-section img {
        margin: .8em 0;
    }

    #second-img {
        margin: 0;
    }

    .two-column img, .three-column img {
        display: block;
        width: 100%;
        margin: .8em 0;
    }

    #right-image {
        margin-top: 0;
        margin-bottom: 2em;
    }

    .four-column img {
        /*display: block;*/
        width: 48%;
        margin: .3em .5%;
    }

    /************************************ specific stuff ************************************/
    /*portfolio page*/
    #portfolio-body {
        margin-left: 0;
        margin-right: 0;
    }

    #portfolio-main {
        margin-left: 0;
    }

    .portfolio-item {
        margin-right: 0;
    }

    .overlay-text-title {
        letter-spacing: 0.03em;
        font-size: 2em;
        line-height: 1.2em;
        margin-bottom: .12em;
    }

    /*resume*/
    .resume-h2 {
        margin-top: 2em;
    }

    /*about*/


    /*sketchbook*/
    #sketchbook-main-right {
        margin: 0;
    }
    #sketchbook-body {
        margin-left: 0;
    }

    .column-1, .column-2 {
        width: 100%;
    }

    /*exploring sq hill*/
    #foodie-gif, #time-gif, #map-gif {
        width: 100%;
        margin-bottom: .8em;
    }

    /*polly*/
    #pc-final {
        width: 100%;
    }

    #polly-app {
        width: 90%;
        margin-top: 0;
        margin-bottom: 2em;
        float: none;
        margin-left: 6%;
    }

    #affinity {
        width: 100%;
    }

    #servicemap {
        width: 100%;
        margin-top: 0;
        margin-bottom: 2em;
    }

    #polly-lofi, #polly-midfi, #polly-hifi {
        width: 100%;
    }

    /*ibm*/
    #mobile-grid {
        width: 100%;
    }

    #tablet-grid {
        width: 100%;
        margin-bottom: 2em;
    }

    /*linkedin*/
    #indeed {
        width: 100%;
    }

    /*ptp*/
    #ptp-bg-1 {
        width: 100%;
    }

    #ptp-bg-2 {
        width: 100%;
        margin-top: 0;
        margin-bottom: 2em;
    }

    /*studiocat*/
    #cat-projected {
        margin-top: 0;
    }

    #welcomelily-1 {
        width: 100%;
    }

    #welcomelily-2 {
        width: 100%;
        margin-top: 0;
        margin-bottom: 2em;
    }

    /*freelance*/
    #zoopix img {
        width: 100%;
        margin: .8em 0;
    }

}

