@media screen and (max-width: 400px) {
    header {
        margin-bottom: 3em;
    }

    .main-content {
        margin: 0 2.5%;
    }

    /******************************************* menu stuff *******************************************/

    .menu {
        font-size: 1.125em;
    }

    .sidebar-menu-arrow {
        display: none;
    }

    .submenu {
        display: none;
    }

    .menu-wrapper {
        width: 100%;
        padding-top: 50%;
        padding-left: 50%;
        text-align: center;
        margin-left: -150%;
    }

    .menu-show {
        margin-left: -50%;
    }

    .toggle-button {
        left: 2.5%;
    }

    #menu-logo {
        margin-right: 2.5%;
    }

    /************************************ content & type stuff **************************************/
    /*index page*/
    #index-text {
        font-size: 1.5em;
    }

    .portfolio article {
        height: 190px;
    }

    .overlay-text {
        width: 80%;
        left: 20%;
        margin-left: 22.5%;
    }

    /*case study content*/
    .h2-section-wrapper {
        padding-top: .5em;
    }

    hr {
        margin: 1em 0;
    }

    .left-text-column, .right-text-column {
        margin-bottom: .5em;
    }

    .two-columns-one-row ul {
        padding-bottom: .875em;
    }

    /*general text*/
    h1 {
        font-size: 3.5em;
        font-weight: 400;
        line-height: 1.2em;
        margin-bottom: .5em;
    }

    h2 {
        margin-top: .25em;
    }

    p {
        padding-bottom: 0.875em;
    }

    figcaption {
        padding-top: 0;
    }

    .bullet-points {
        margin-bottom: .875em;
    }

    /************************************ image stuff ************************************/

    .h3-section img {
        margin: .5em 0;
    }

    #second-img {
        margin: 0;
    }

    .two-column img, .three-column img {
        display: block;
        width: 100%;
        margin: .8em 0;
    }

    #right-image {
        margin-top: 0;
        margin-bottom: 2em;
    }

    .four-column img {
        /*display: block;*/
        width: 48%;
        margin: .3em .5%;
    }

    /************************************ specific stuff ************************************/

    /*resume*/
    .resume-h2 {
        margin-top: 2em;
    }

    /*about*/


    /*sketchbook*/
    #sketchbook-main-right {
        margin: 0;
    }

    #sketchbook-body {
        margin-left: 0;
    }

    .column-1, .column-2 {
        width: 100%;
    }

    /*exploring sq hill*/
    #foodie-gif, #time-gif, #map-gif {
        width: 100%;
        margin-bottom: .8em;
    }

    /*polly*/
    #pc-final {
        width: 100%;
    }

    #polly-app {
        width: 90%;
        margin-top: 0;
        margin-bottom: 2em;
        float: none;
        margin-left: 6%;
    }

    #affinity {
        width: 100%;
    }

    #servicemap {
        width: 100%;
        margin-top: 0;
        margin-bottom: 2em;
    }

    #polly-lofi, #polly-midfi, #polly-hifi {
        width: 100%;
    }

    /*ibm*/
    #mobile-grid {
        width: 100%;
    }

    #tablet-grid {
        width: 100%;
        margin-bottom: 2em;
    }

    /*linkedin*/
    #indeed {
        width: 100%;
    }

    /*ptp*/
    #ptp-bg-1 {
        width: 100%;
    }

    #ptp-bg-2 {
        width: 100%;
        margin-top: 0;
        margin-bottom: 2em;
    }

    /*studiocat*/
    #cat-projected {
        margin-top: 0;
    }

    #welcomelily-1 {
        width: 100%;
    }

    #welcomelily-2 {
        width: 100%;
        margin-top: 0;
        margin-bottom: 2em;
    }

    /*freelance*/
    #zoopix img {
        width: 100%;
        margin: .8em 0;
    }

}

