body {
    margin: 5% 0;
    text-rendering: optimizeLegibility;
    background-color: #f8f8fa;
}

.main-content {
    display: block;
    vertical-align: top;
    margin: 0 10%;
}

header {
    margin-bottom: 5em;
}

/******************************* menu *******************************/

#menu-logo {
    font-family: "Small Title", "Arial", sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-left: 10%;
}

#menu-logo a {
    text-decoration: none;
    color: #454545;
}

#menu-logo a:hover {
    color: #aeb4bd;
}

.menu a {
    color: #333333;
    text-decoration: none;
}

.menu a:hover {
    color: #aeb4bd;
    border-bottom: 1px solid #aeb4bd;
}

.submenu {
    margin: 0 0 0 1.5em;
    font-size: 1em;
}

#menu-selected {
    color: #1F3A95;
}

/****************************************** text stuff ******************************************/
/*general text styling*/
h1 {
    font-family: "Title", sans-serif;
    font-size: 6em;
    line-height: 1.25em;
    /*text-transform: uppercase;*/
    color: #333;
    margin-bottom: .5em;
}

h2, h3 {
    font-size: .9em;
    line-height: 1.65em;
}

/*line height and font size*/
h4, p, figcaption, footer, ul {
    font-size: 1em;
    line-height: 1.65em;
}


h2 {
    /*title of section, left hand column*/
    font-family: "Small Title", sans-serif;
    /*font-weight: 500;*/
    text-transform: uppercase;
    margin: 0 0 .5em 0;
    letter-spacing: 0.05em;
    color: #606b74;
}

.left-title h2 {
    margin-top: 0;
    text-align: right;
}

.h2-section-wrapper {
    margin-bottom: 3em;
}

h3 {
    /*paragraph title*/
    font-family: "Small Title", sans-serif;
    /*font-weight: 500;*/
    margin-bottom: .5em;
    color: #454545;
}

.h3-section {
    margin-bottom: 2em;
}

/*elements using Canela*/
h4, p, figcaption, footer, ul {
    font-family: "Body", sans-serif;
    letter-spacing: .025em;
    position: relative;
    vertical-align: baseline;
    width: 100%;
}

h4 {
    color: #666;
    font-weight: 500;
}

p {
    color: #333;
    padding-bottom: 1em;
    letter-spacing: .03em;
}

a {
    transition: all 100ms ease-out;
}

figcaption {
    line-height: 1.5em;
    padding-top: .5em;
    color: #727272;
}

blockquote {
    font-family: "Body", sans-serif;
    font-style: italic;
    font-size: 2.25em;
    color: #444;
    line-height: 1.3em;
    letter-spacing: .03em;
}

blockquote:before {
    content: '"';
    position: absolute;
    margin-left: -.4em;
}

blockquote:after {
    content: '"';
}

.quote-wrapper {
    margin: 1.5em 0 1.75em 0;
}

.quote-wrapper figcaption {
    font-size: 1em;
    font-style: normal;
}


footer {
    color: #6A7881;
}

/*.email {
    text-align: right;
    float: right;
}*/

.main-content a {
    text-decoration: none;
    color: #1F3A95;
    border-bottom: 1px solid #1F3A95;
}

.main-content a:hover {
    border-bottom: 1px solid #aeb4bd;
    color: #aeb4bd;
}

.bold {
    font-weight: 500;
}

br {
    line-height: 1.75em;
}

hr {
    margin: 3em 20%;
    border-color: #ddd;
}

/****************************************** project page content stuff ******************************************/

/*sizing section where non-portfolio-title/non-gallery content goes*/
/*.body-content { */
    /*below is when all body content is in one column, left title not pulled out to the side*/
    /*width: 66.6%;*/
    /*display: block;*/
    /*vertical-align: top;*/
    /*margin: 0 16.67%;*/
/*}*/

.date {
    margin-top: 1em;
}

.left-title {
    display: inline-block;
    width: 15%;
    float: left;
}

.right-content, .two-columns-one-row {
    width: 60%; /*total of page width is 6/10 with 2/10 margins*/
    margin: 0 0 0 20%;
}

.left-text-column {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1em;
}

.right-text-column {
    width: 45%;
    display: inline-block;
    margin-left: 9%;
    vertical-align: top;
    margin-bottom: 1em;
}

ul {
    display: block;
    list-style-type: none;
    font-family: "Body", sans-serif;
    vertical-align: baseline;
    color: #333;
}

/*bullet points*/
#bullet {
    margin-left: 1em;
}

.bullet-list {
    list-style-type: disc;
    margin-bottom: 1.125em;
}

.numbered-list {
    list-style-type: decimal;
}

/*carousel*/
.container {
    position: relative;
}

.mySlides {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

#carousel-img {
    margin-bottom: 0;
}

.carousel-button {
    background-color: #eee;
    border: none;
    color: #333;
    padding: 1em .5em;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    position: absolute;
    top: 47%;
    opacity: .5;
    transition: .3s ease;
}

.container:hover .carousel-button {
    opacity: 1;
}

.carousel-display-right {
    right: 0;
}

/****************************************** image stuff ******************************************/

/*full image in body column*/
.h2-section-wrapper img {
    width: 80%;
    margin-left: 10%;
}

/*image in right content side only*/
.h3-section img {
    width: 100%;
    margin: 0 0 1.75em 0;
}

/*multi-image columns*/
.two-column img {
    display: inline-block;
    width: 48%;
}

.right-image {
    float: right;
}

.three-column img {
    display: inline-block;
    width: 30.9%;
    margin: 0 1% 1.75em .5%;
    vertical-align: top;
}

.four-column img {
    display: inline-block;
    width: 22.9%;
    margin: 0 1% 1.75em .5%;
    vertical-align: top;
}

/*image caption*/
.img-caption img {
    margin-bottom: 0;
}

.img-caption {
    margin-bottom: 1.75em;
}

#image-before-text {
    margin-bottom: 1.75em;
}

.outline-for-white-bg {
    box-shadow: 0 1px 2px #ccc;
}

/****************************************** video iframe ******************************************/
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    /*added by me*/
    margin-bottom: 3em;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/******************************************page-specific stuff******************************************/
/**about**/
#me {
    margin-bottom: 1em; 
}

/*resume*/
.resume {
    display: block;
    list-style-type: none;
    font-family: "Body", sans-serif;
    line-height: 1.75em;
    vertical-align: baseline;
    color: #666;
}

.experience li {
    margin-bottom: 1em;
}

ul.resume {
    margin-bottom: 1.25em;
}

.skills {
    width: 100%;
    margin: 0;
}

.skills h3 {
    padding-top: 0;
    margin-top: 0;
}

/*sketchbook "masonry"*/
#sketchbook-body {
    width: 100%;
    display: block;
    vertical-align: top;
}

.column-1, .column-2 {
    display: inline-block;
    width: 49%;
    /*margin-right: 1.5%;*/
}

.column-1 {
    float: left;
}

.column-2 {
    float: right;
}

.column-1 img, .column-2 img {
    width: 100%;
    margin-bottom: 3%;
}


/*goodcook*/


/*ctat*/


/*faces of design*/
.faces-survey-questions {
    margin-top: 2.4em;
}

#cube-final {
    /*margin: 2em 0;*/
}

/*polly*/
.pocket-course-cards {
    box-shadow: 0 2px 6px #ccc;
    border-radius: 10px;
}

#pc-final {
    width: 60%;
}

#polly-app {
    width: 35%;
    float: right;
}

#polly-lofi {
    width: 26%;
}

#polly-midfi {
    width: 34%;
}

#polly-hifi {
    width: 34%;
}

/*exploring sq hill*/
#foodie-gif {
    width: 20%;
}

#time-gif {
    width: 30%;
}

#map-gif {
    width: 42%;
}

