/**************************** structure *****************************/
body {
    text-rendering: optimizeLegibility;
    background-color: #f8f8fa;
}

.content {
    display: block;
    vertical-align: top;
    margin: 5% 10%;
    /*margin: 0;*/
}

.writeup {
    margin-top: 10em;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/**************************** text stuff *****************************/
/*general text styling*/
h1 {
    font-family: "Title", sans-serif;
    font-size: 6em;
    line-height: 1.1em;
    letter-spacing: .01em;
    color: #333;
    margin-bottom: .75em;
    width: 90%;
}

h2 {
    font-size: 1em;
    line-height: 1.6em;
}

/*line height and font size*/
h4, p, ul {
    font-size: 1em;
    line-height: 1.4em;
}

h2 {
    /*title of section, left hand column*/
    font-family: "Small Title", sans-serif;
    text-transform: uppercase;
    margin: 0 0 .5em 0;
    letter-spacing: 1px;
    color: #606574;
}

.subheader {
    padding-bottom: 1em;
}

.subheader-title {
    font-family: "Small Title", sans-serif;
    text-transform: uppercase;
    /*letter-spacing: .5px;*/
    font-size: 16px;
    color: #606574;
    margin-right: 1em;
}

.left-title h2 {
    margin-top: 0;
}

.h2-section-wrapper {
    margin-bottom: 3em;
}

/*paragraph title*/
h3 {
    font-family: "Small Title", sans-serif;
    font-size: 16px;
    margin-bottom: 1em;
    color: #606574;
    /*font-weight: 500;*/
}

.h3-section {
    margin-bottom: 3em;
}

/*elements using GT Sectra*/
h4, p, figcaption, ul {
    font-family: "Body", sans-serif;
    font-size: 18px;
    letter-spacing: .1px;
    position: relative;
    vertical-align: baseline;
    width: 100%;
}

h4 {
    font-style: italic;
    margin-bottom: .5em;
}

p {
    color: #333;
    padding-bottom: 1em;
}


footer {
    font-family: "Small Title", sans-serif;
    font-size: .9em;
}

/*link behavior*/
a {
    padding-bottom: .1em;
    text-decoration: none;
    color:#375CDC;
    cursor: pointer;
    transition: all 50ms ease-out;
    border-bottom: none;
}

a:hover {
    border-bottom: 2px solid #375CDC;
}


/*a::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 1.5px;
    background: #375CDC;
    transition: width .3s;
}

a:hover::after {
    width: 100%;
    transition: width .1s;
}*/


.heavy-link {
    display: inline-block;
    text-decoration: none;
    color: #375CDC;
    transition: all 100ms ease-out;
}

.heavy-link::after {
    content: "";
    position: absolute;
    background-color: #030C17;
    width: 0;
    height: 24px;
    left: -5px;
    top: -5px;
    z-index: -1;
    display: inline-block;
    transition: 0.2s ease;
}

.heavy-link:hover::after {
    width: 100%;
    transition: width .3s;
    color: white;
}

.bold {
    font-weight: 500;
}

br {
    line-height: 1.5em;
}

hr {
    margin: 3em 0;
    /*margin: 3em 0;*/
    border-color: #eee;
}

.social {
    font-family: "Small Title", sans-serif;
    font-size: .8em;
    line-height: 1.5em;
}

.social a {
    margin-right: 20px;
}

/**************************** project page content stuff *****************************/

.left-title {
    display: inline-block;
    width: 20%;
    float: left;
}

.right-content {
    width: 50%; /*total of page width is 1/2 with 1/4 margins*/
    margin: 0 0 0 25%;
}

.left-text-column {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1em;
}

.right-text-column {
    width: 45%;
    display: inline-block;
    margin-left: 9%;
    vertical-align: top;
    margin-bottom: 1em;
}

ul {
    display: block;
    list-style-type: none;
    font-family: "Body", sans-serif;
    vertical-align: baseline;
    color: #333;
}

figcaption {
    font-family: "Fine", sans-serif;
    font-style: italic;
    font-size: 16px;
    line-height: 1.4em;
    padding-top: .5em;
    color: #767676;
    
}

blockquote {
    font-family: "Display", sans-serif;
    font-style: italic;
    font-size: 2.5em;
    color: #606574;
    line-height: 1.2em;
    /*letter-spacing: .5px;*/
}

blockquote:before {
    content: '"';
    position: absolute;
    margin-left: -.4em;
}

blockquote:after {
    content: '"';
}

.quote-wrapper {
    margin: 2em 0 4em 0;
    border-left: 3px solid #606574;
    padding-left: 2em;
}

.quote-wrapper figcaption {
    font-family: "Small Title", sans-serif;
    font-size: 1em;
    font-style: normal;
    letter-spacing: 0;
    padding-top: 1em;
}

.statistic {
    font-style: italic;
    font-weight: 500; 
    color: #375CDC;
}

/*bullet points*/
#bullet {
    margin-left: 1em;
}

.bullet-list {
    list-style-type: disc;
    margin-bottom: 1.125em;
}

.number-list {
    list-style-type: decimal;
}

/*carousel*/
.container {
    position: relative;
}

.mySlides {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

#carousel-img {
    margin-bottom: 0;
}

.carousel-button {
    background-color: #eee;
    border: none;
    color: #333;
    padding: 1em .5em;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    position: absolute;
    top: 47%;
    opacity: .5;
    transition: .3s ease;
}

.container:hover .carousel-button {
    opacity: 1;
}

.carousel-display-right {
    right: 0;
}

/**************************** image stuff *****************************/

img {
    width: 100%;
}

/*full image in body column*/
.big-image {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 3em;
}

/*image in right content side only*/
.h3-section img {
    width: 100%;
    margin: 0 0 1.75em 0;
}

/*multi-image columns*/
.two-column img {
    display: inline-block;
    width: 48%;
}

.last-img {
    float: right;
}

.three-column img {
    display: inline-block;
    width: 31.5%;
    margin: 0 .5% 1.75em .5%;
    vertical-align: top;
}

.four-column img {
    display: inline-block;
    width: 23%;
    margin: 0 .5% 1.75em .5%;
    vertical-align: top;
}

/*image caption*/
.img-caption img {
    margin-bottom: 0;
}

.img-caption {
    margin-bottom: 2em;
}

.dropshadow {
    box-shadow: 0 1px 2px #ccc;
}

/*triangle icons*/
.triangle-left {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-right: 4px solid #375CDC;
    border-bottom: 4px solid transparent;
    margin-right: .4em;
    margin-bottom: .1em;
}

.triangle-down {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #375CDC;
    padding-bottom: 2px;
    margin-left: .3em;
}


/**************************** video iframe *****************************/
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    /*added by me*/
    margin-bottom: 3em;/*
    width: 80%;
    margin-left: 10%;*/
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/****************************page-specific stuff*****************************/

/*sketchbook "masonry"*/
.sketchbook-left, .sketchbook-right {
    display: inline-block;
    width: 49%;
}

.sketchbook-left {
    float: left;
}

.sketchbook-right {
    float: right;
}

.sketchbook-left img, .sketchbook-right img {
    margin-bottom: 3%;
}

/*faces of design*/
.faces-survey-questions {
    margin-top: 2.4em;
}

/*polly*/
.pocket-course-cards {
    box-shadow: 0 2px 6px #ccc;
    border-radius: 10px;
}

#pc-final {
    width: 60%;
}

#polly-app {
    width: 35%;
    float: right;
}