/******************************* nav menu side bar *******************************/

.menu {
    position: inherit;
    width: 100%;
    top: 5%;
    font-family: "Body", sans-serif;
    font-size: 1em;
    line-height: 1em;
    z-index: 1;
}

.menu-wrapper {
    background-color: #fff;
    position: fixed;
    top: 0;
    height: 100%;
    width: 200px;
    margin-left: -100%;
    padding: 10% 4% 40px 4%;
    overflow: auto;
    transition: .25s;
    z-index: 10;
}

.menu-wrapper li {
    margin: .5em 0;
}

.menu-show {
    margin-left: 0;
    box-shadow: -4px 2px 15px 1px #333;
}

#menu-logo {
    text-align: right;
    padding: 0;
    /*old*/
    font-family: "Small Title", "Arial", sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-right: 10%;
}

.menu a {
    color: #333333;
    text-decoration: none;
}

.menu a:hover {
    color: #12a8ad;
}

.menu-wrapper {
    height: 100%;
    transition: .25s;
    z-index: 10;
}

.submenu {
    margin: 0 0 0 1.5em;
    font-size: 1em;
}

#menu-selected {
    color: #bbb;
}

/******************* hamburger icon *******************/
.toggle-button {
  position: fixed;
  width: 24px;
  height: 40px;
  padding: 4px;
  transition: .25s;
  z-index: 15;
  display: block;
  /*top: 30px;*/
  left: 10%;

}


.toggle-button:hover {
    cursor: pointer;
}

.toggle-button .menu-bar {
    position: absolute;
    border-radius: 2px;
    width: 80%;
    transition: .5s;
}

/*toggle button lines style*/
.toggle-button .menu-bar-top {
    border: 3px solid #777;
    border-bottom: none;
    top: 0;
}

.toggle-button .menu-bar-middle {
    border: 3px solid #777;
    border-top: none;
    top: 9px;
}

.toggle-button .menu-bar-bottom {
    border: 3px solid #777;
    border-top: none;
    top: 18px;
}

/*animation*/
.button-open .menu-bar-top {
    border-color: #777;
    transform: rotate(45deg) translate(7px, 7px);
    transition: .3s;
}
.button-open .menu-bar-middle {
    background-color: #777;
    transform: translate(0px);
    transition: .1s ease-in;
    opacity: 0;
}
.button-open .menu-bar-bottom {
    border-color: #777;
    transform: rotate(-45deg) translate(6px, -6px);
    transition: .3s;
}

/******************************* nav menu side bar *******************************/

.toggle-button {
    /*display: none;*/
}

a {
    transition: all 300ms ease-out;
}

#menu-logo a {
    text-decoration: none;
    color: #626262;
}

/******************************* portolfio menu items *******************************/

.menu-sidebar .menu-item-has-children {
    position: relative;
}

.menu-sidebar .menu-item-has-children .sub-menu {
    display: none;
}

/*menu arrow*/
.sidebar-menu-arrow::after {
    content: "\f107";
    font-family: 'FontAwesome';
    padding: 5px;
    color: #333333;
    position: relative;
}
.sidebar-menu-arrow:hover::after {
    cursor: pointer;
    color: #12a8ad;
}
.sidebar-menu-arrow:active::after {
    top: 2px;
}
