#index-text {
    margin: 24% 0 24% 0;
}

.big {
    font-size: 3em;
    line-height: 1.4em;
    padding-bottom: .5em;
}

.index-menu {
    font-family: "Small Title", sans-serif;
    line-height: 1.6em;
}

.index-menu a {
    margin-right: 50px;
    position: relative;
    border-bottom: none;
}

/*portfolio grid items*/

.accactivity {
    /*background-image: url();*/
}

.polly {
    background-image: url(../images/home/polly.jpg);
}

.ctat {
    background-image: url(../images/home/ctat.jpg);
}

.facesofdesign {
    background-image: url(../images/home/facesofdesign.jpg);
}

.goodcook {
    background-image: url(../images/home/goodcook.jpg);
}

.ptp {
    background-image: url(../images/home/ptp-thumbnail.jpg);
}

.exploringsqhill {
    background-image: url(../images/home/exploringsqhill.jpg);
}

.responsiverealestate {
    background-image: url(../images/home/responsive-thumbnail.png);
}

.linkedin {
    background-image: url(../images/home/linkedin-thumbnail.jpg);
}

.sketchbook {
    background-image: url(../images/home/sketchbook.jpg);
}


.portfolio article {
    background-color: #f0f0fa;
    height: 280px; /*must set height*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Resize the background image to cover the entire container */
    width: 100%;
    margin-left: 0;
}

.container {
    height: 100%;
}

/*overlay*/
.overlay {
    position: absolute;
    /*top, bottom, left, right: 0;*/
    height: 100%;
    width: 100%;
    opacity: .6;
    transition: .3s ease;
    background-color: #f8f8fa;
}

.container:hover .overlay {
    opacity: .9;
}

.overlay-text {
    text-align: left;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 20%;
    margin-left: 30%;
    transform: translate(-50%, -50%);
}

.overlay-title {
    color: #74838C;
    margin-bottom: 0em;
}

.overlay-subtitle {
    font-family: "Small Title", "Arial", sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    color: #6D7B85;
}

.portfolio {
    margin-bottom: 3em;
}

/*other*/
.smaller {
    font-size: 1.5em;
    line-height: 1.4em;
    margin-bottom: 2em;
    /*width: 40%;*/
}
