
/******************************* nav menu side bar *******************************/

.menu {
    position: inherit;
    width: 100%;
    top: 5%;
    font-family: "Body", sans-serif;
    font-size: 1em;
    line-height: 1em;
    z-index: 1;
}

.menu-wrapper {
    background-color: #fff;
    position: fixed;
    top: -10%;
    height: 120%;
    width: 30%;
    left: 100%;
    padding: 0 0 0 10%;
    overflow: auto;
    transition: .25s ease-out;
    z-index: 10;
}

.menu-wrapper li {
    margin: .5em 0;
}

.menu-items {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.menu-show {
    left: 60%;
    box-shadow: -3px 0px 10px -5px #ccc;
}

/******************* hamburger icon *******************/
.toggle-button:hover {
    cursor: pointer;
}

.toggle-button {
    position: fixed;
    width: 30px;
    height: 16px;
    transition: .25s;
    z-index: 15;
    display: block;
    right: 10%;
}

.toggle-button .menu-bar {
    position: absolute;
    border: 2px solid #606b74;
    border-top: none;
    border-right: none;
    width: 90%;
    transition: .5s;
}

.toggle-button .menu-bar-top {
    top: 0;
}

.toggle-button .menu-bar-middle {
    top: 50%;
}

.toggle-button .menu-bar-bottom {
    top: 100%;
}

.button-open .menu-bar-top {
    transform: rotate(45deg) translate(5px, 6px);
    transition: .15s;
}
.button-open .menu-bar-middle {
    transform: translate(0px);
    transition: .1s ease-in;
    opacity: 0;
}
.button-open .menu-bar-bottom {
    transform: rotate(-45deg) translate(5px, -6px);
    transition: .15s;
}

.toggle-button {
    /*display: none;*/
}

/******************************* Work subitems *******************************/

.menu-sidebar .menu-item-has-children {
    position: relative;
}

.menu-sidebar .menu-item-has-children .sub-menu {
    display: none;
}

/*menu arrow*/
.sidebar-menu-arrow::after {
    content: "\f107";
    font-family: 'FontAwesome';
    padding: 5px;
    color: #333333;
    position: relative;
}
.sidebar-menu-arrow:hover::after {
    cursor: pointer;
    color: #bbb;
}
.sidebar-menu-arrow:active::after {
    top: 2px;
}
