/*small desktop window*/

@media screen and (max-width: 1024px) {
    
    /*hamburger menu*/
    .menu-wrapper {
        position: fixed;
        top: 0;
        height: 100%;
        width: 40%;
        overflow: auto;
        transition: .25s;
        z-index: 10;
    }

    #index-text {
        margin: 22% 0 24% 0;
    }

    .big {
        font-size: 2.5em;
    }

    .portfolio {
        margin-bottom: 2em;
    }

    .portfolio article {
        height: 240px;
    }

    .smaller {
        margin-bottom: 1em;
    }

    /*text sections become one column*/
    .subheader {
        padding-bottom: .875em;
    }

    .left-title {
        display: block;
        width: 100%;
        line-height: 1.4em;
        float: none;
    }

    .left-title h2 {
        padding-top: 0;
        text-align: left;
    }

    .right-content {
        display: block;
        width: 100%;
        margin: 0;
    }

    /*portolfio content text*/
    h1 {
        font-size: 4em;
        margin-bottom: .5em;
    }

    .h2-section-wrapper {
        margin-bottom: 4em;
    }

    /*sketchbook*/
    .column-1, .column-2 {
        width: 100%;
        margin: 0;
    }

    /*resume*/
    ul.resume {
        margin-bottom: 0; /*in full width, added margin bottom for the stacked right hand column. this removes that extra space*/
    }
}