<!-- logo -->
<a id="logo" href="/index.html">CZ</a>

<!-- nav menu -->
<ul class="nav">
    <li><a data-nav="design" href="/design/index.html">Design</a></li>
    <li><a data-nav="art" href="/art/index.html">Art</a></li>
    <li><a data-nav="misc" href="/misc/index.html">Etc.</a></li>
    <li><a data-nav="about" href="/about.html">About</a></li>
</ul>
<!-- hamburger menu -->
<div class="toggle-button">
    <div class="menu-bar menu-bar-top"></div>
    <div class="menu-bar menu-bar-middle"></div>
    <div class="menu-bar menu-bar-bottom"></div>
</div>
<!-- slideout nav menu -->
<ul class="slideout-nav">
    <div class="slideout-wrapper">
        <li class="nav-item"><a href="/design/index.html">Design</a></li>
        <li class="nav-item"><a href="/art/index.html">Art</a></li>
        <li class="nav-item"><a href="/misc/index.html">Etc.</a></li>
        <li class="nav-item"><a href="/about.html">About</a></li>
    </div>
</ul>
