@media screen and (max-width: 850px) {
    
    .content {
        margin: 18% 4% 10% 4%;
    }

    .hero {
        display: none;
    }

    #logo {
        left: 12px;
        top: 12px;
        position: fixed;
    }
    
    .toggle-button {
        display: block;
        top: 12px;
        right: 12px;
    }

    .nav {
        display: none;
    }

    .slideout-nav {
        display: block;
    }

    /************************************ content & text stuff **************************************/
    /******** menu ********/

    #gallery {
        padding-bottom: 0;
    }

    .inline-menu {
        padding-top: 0;
    }

    .center-content {
        width: 100%; /*total of page width is 1/2 with 1/4 margins*/
        margin-left: 0%;
    }


    /********case study content********/
    .h2-section-wrapper {
        margin-bottom: 2em;
    }

    hr {
        margin: 1em 0 2em 0;
    }

    .left-text-column, .right-text-column {
        margin-bottom: .5em;
    }

    /*general text*/
    h1 {
        /*font-size: 2.5em;*/
    }

    .left-text-column, .right-text-column {
        width: 100%;
        display: block;
        margin-left: 0;
    }

    h2 {
        font-size: .8em;
    }

    .left-title {
        display: block;
        width: 100%;
        float: none;
        margin-bottom: 1em;
    }

    .subheader-title {
        font-size: .8em;
    }

    p {
    }

    blockquote {
        font-size: 1.75em;
        line-height: 1.4em;
    }

    figcaption {
        padding-top: 0;
    }

    .quote-wrapper {
        margin: 1.5em 0;
        /*border-left: 3px solid #606574;*/
        padding-left: 1.75em;
    }

    .stat-wrapper {
        margin: 1.5em 0;
        padding-left: 1em;
    }

    footer {
        margin-bottom: 4em;
    }

    /************************************ image stuff ************************************/

    .h3-section img {
        margin: 0 0 1em 0;
    }

    .left-column {
        width: 100%;
    }

    .right-column {
        width: 100%;
    }

    .right-content {
        display: block;
        width: 100%;
        margin: 0;
    }

    .img-caption {
        margin-bottom: 1em;
    }

    .img-caption img {
        /*margin-bottom: 0;*/
    }

}

