/********************************************************* index page *********************************************************/

.inline-menu {
    font-family: "Body", sans-serif;
    font-size: .8em;
    font-weight: 500;
    margin-bottom: 4em;
}

.inline-menu a {
    margin-right: 20px;
    /*position: relative;*/
}

#contact {
    margin-top: 4em;
}

#index-social {
    margin-right: 20px;
    border-bottom: none;
}

/**************************** structure *****************************/
body {
    text-rendering: optimizeLegibility;
    background-color: #f8f8fa;
}

.content {
    display: block;
    vertical-align: top;
    margin: 5% 10%;
    /*margin: 0;*/
}

.hero {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/shop.jpg);
}

.writeup {
    /*margin-top: 10em;*/
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/**************************** text stuff *****************************/
/*general text styling*/
h1 {
    font-family: "Title", sans-serif;
    font-size: 6em;
    line-height: 1.1em;
    letter-spacing: .01em;
    color: #333;
    margin: 1em 0;
    width: 90%;
}

h2, h3 {
    font-size: 1.1em;
    font-family: "Small Title", sans-serif;
    line-height: 1.5em;
    padding-bottom: 0;
}

h2.menu-title {
    color: black;
}

h2.header {
    margin-bottom: 1.5em;
    text-transform: capitalize;
}

/*line height and font size*/

h2 {
    /*title of section, left hand column*/
    margin: 0 0 .5em 0;
    letter-spacing: .5px;
    color: #888;
}

.subheader {
    padding-bottom: 1em;
}

.left-title h2 {
    margin-top: 0;
}

.h2-section-wrapper {
    margin-bottom: 3em;
}

/*paragraph title*/
h3 {
    font-family: 'Body', sans-serif;
    margin-bottom: 1em;
    color: #333;
    font-weight: 600;
}

.h3-section {
    margin-bottom: 3em;
}

p, ul, ol {
    font-family: "Body", sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    position: relative;
    vertical-align: baseline;
    width: 100%;
}

p {
    color: #333;
    margin-bottom: 1em;
}


footer {
    font-family: "Small Title", sans-serif;
    font-size: .9em;
}

/*link behavior*/
a {
    padding-bottom: .1em;
    text-decoration: none;
    color:#0038f2;
    cursor: pointer;
    transition: all 50ms ease-out;
    border-bottom: none;
}

a:hover {
    border-bottom: 2px solid #0038f2;
}


/*lists*/
ul, ol {
    display: block;
    list-style-type: none;
    font-family: "Body", sans-serif;
    vertical-align: baseline;
    line-height: 1.4em;
    margin-bottom: 1em;

}

.sizes li {
    margin-bottom: .5em;
    font-family: "Body", sans-serif;
    font-size: .8em;
}

.size-caption {
    /*font-style: italic;*/
    color: #666;
    /*margin-bottom: 1em;*/
}

.bullet-list {
    list-style-type: disc;
    margin-left: 1em;
}



/*other*/
.bold {
    font-weight: 500;
}

br {
    line-height: 1.5em;
}

hr {
    margin: 3em 0;
    /*margin: 3em 0;*/
    border-color: #eee;
}

.social {
    font-family: "Small Title", sans-serif;
}

/**************************** project page content stuff *****************************/

.center-content {
    width: 60%; /*total of page width is 1/2 with 1/4 margins*/
    margin-left: 19%;
    margin-bottom: 4em;
}

.left-title {
    display: inline-block;
    width: 15%;
    float: left;
}

.right-content {
    width: 80%;
    margin-left: 19%;
}

.left-column {
    width: 48%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1em;
}

.right-column {
    width: 48%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1em;
    float: right;
}


figcaption {
    font-family: "Body", sans-serif;
    /*font-style: italic;*/
    font-size: .9em;
    line-height: 1.4em;
    padding-top: .5em;
    /*color: #888;*/   
}

/*carousel*/
.container {
    position: relative;
    padding-bottom: 1.5em;
}

.mySlides {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

#carousel-img {
    margin-bottom: 0;
}

.carousel-button {
    background-color: #eee;
    border: none;
    color: #333;
    padding: 2em 1em;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: .5;
    transition: .25s ease;
}

.container:hover .carousel-button {
    opacity: 1;
}

.carousel-display-right {
    right: 0;
}

/**************************** image stuff *****************************/

img {
    width: 100%;
}

/*full image in body column*/
.big-image {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2em;
}

/*image in right content side only*/
.h3-section img {
    /*width: 100%;*/
    margin: 0 0 1.75em 0;
}

/*multi-image columns*/
.two-column img {
    display: inline-block;
    width: 48%;
}

.last-img {
    float: right;
}

.three-column img {
    display: inline-block;
    width: 31.5%;
    margin: 0 .5% 1.75em .5%;
    vertical-align: top;
}

.four-column img {
    display: inline-block;
    width: 23%;
    margin: 0 .5% 1.75em .5%;
    vertical-align: top;
}

/*image caption*/
.img-caption img {
    margin-bottom: 0;
}

.img-caption {
    margin-bottom: 2em;
}

.dropshadow {
    box-shadow: 0 1px 2px #ccc;
}

/*triangle icons*/
.triangle-left {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-right: 4px solid #0038f2;
    border-bottom: 4px solid transparent;
    margin-bottom: .1em;
    margin-right: 1em;
}

.triangle-down {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #0038f2;
    padding-bottom: 2px;
    margin-right: 1em;
}

/*contact form*/

* {
  box-sizing: border-box;
}

label {
    font-family: "Body", sans-serif;
    font-size: .8em;
    color: #888;
    margin-bottom: 2em;
}

input {
    font-family: "Body", sans-serif;
    color: #000;
    margin-bottom: 2em;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin: 10px 0 20px 0;
  /*margin-top: 6px;*/
  /*margin-bottom: 16px;*/
  resize: vertical;
}

input[type=submit] {
  background-color: #000;
  font-family: "Body", sans-serif;
  color: white;
  padding: 15px 20px;
  margin-top: 1em;
  border: none;
  cursor: pointer;
}

select {
  font-family: "Body", sans-serif;
}

input[type=submit]:hover {
  background-color: #5070f5;
}

textarea {
    font-family: "Body", sans-serif;
    font-size: .9em;
    line-height: 1.5em;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 40%;
  margin-right: 9%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}